@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

html {
    scroll-padding-top: 60px; 
    scroll-behavior: smooth;
  }
  
body {
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.99px;
    letter-spacing: 0%;
    background-color: #282c33;
    overflow-x: hidden;

}
.nav-link:hover{
    font-weight: 600 !important;
    color: rgb(255, 255, 255) !important;
}
.navbar {
    background-color: #282c33 !important;
}
i:hover {
    color: blue !important;
}

table {
    background-color: transparent !important;
    border: 1px solid gray !important;
}

.container .table thead th {
    background-color: transparent !important;
    color: white;
}
.container .table tbody td {
    background-color: transparent !important;
    color: gray;
}

input, textarea{
    border: 1px solid #6c757d !important;
}

input:focus, textarea:focus{
    border: 1px solid rgb(255, 255, 255) !important;
    box-shadow: none !important;
}